@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: whitesmoke;
}
.box {
  display: inline-block;
  background-color: darksalmon;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
  width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 25px;
  margin: 20px 12px;
}

.textcolor {
  color: beige;
}

button:hover {
  color: beige;
  background-color: blue;
  cursor: pointer;
}

img {
  width: 400px;
  height: 400px;
}
a:hover {
  color: brown;
}
